@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



* {
    background-color: #426E2D;

}

p {
    font-family: poppins;
    font-size: 20px;
    
}

.update {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.upperp {
    /* position: absolute; */
    background-color: #ffff;
    text-align: center;
    padding: 70px 40px 70px 40px;
    /* left: 100px;
    top: 150px;  */
    border-radius: 30px 30px 30px 30px;
}


    /* .lowerp {
    position: absolute;
    background-color: #ffff;
    text-align: center;
    padding: 40px 220px 125px 124px;
     top: 100px;
    left: 100px;
    top: 250px;
    border-radius: 0px 0px 30px 30px; */



img {
   /* position: absolute;
   top: 350px;
   left: 850px;
   width: auto;
   height: auto;
   resize: both; */
}
    


